.node {
    background: #cdcdcd;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;

    .top {
        background: #232323;
        height: 20px;
        cursor: pointer;
    }

    .scroll-box {
        width: 100%;
        height: calc(100% - 20px);
        position: relative;
        overflow: auto;
    }

    .content {
        padding: 20px 20px;
        height: auto;
        box-sizing: border-box;
    }

    .scale{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 10px; 
        height: 10px; 
        cursor: se-resize; 

    }
}

